mat-toolbar-row{
    background-color: rgb(201, 211, 219);
    height: 40px;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 13px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(129, 129, 197);
}
.app-set-label{
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}