<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <div class="row">
   <div class="col-lg-12">
    <label class="app-set-label">Name</label>
    <input class="form-control" type="text" value=""  placeholder="Enter Category" aria-label=" input example" >
   </div>  
   <div class="col-lg-5">
    <label class="app-set-label">Image</label>
    <div class="mb-3">
        <input class="form-control" type="file" id="formFile">
      </div>
      <p class="img-note-text"><span>Note:</span>Image Size must be less than 2MB.Image Height and Width less than 1000px.</p>
   </div> 
   <div class="col-lg-2">
    <div class="img-box">
        <img src="../../../../assets/images/no-image.png">
    </div> 
</div>

</div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="close()">CLOSE</button>
    <button mat-raised-button color="primary">SAVE</button>
</div>
