<div class="container-fluid section-rounds">
    <div class="row">
        <div class="col-lg-2  col-md-4">

            <div class="big-circle color-1">
                <div class="small-circle s-color-1">
                    <mat-icon>
                        live_tv
                    </mat-icon>
                </div>
                <h4>1</h4>
                <p>Channels</p>
            </div>
        </div>
        <div class="col-lg-2  col-md-4">
            <div class="big-circle color-2">
                <div class="small-circle s-color-2">
                    <mat-icon>
                        live_tv
                    </mat-icon>
                </div>
                <h4>1</h4>
                <p>Channels</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="big-circle color-3">
                <div class="small-circle s-color-3">
                    <mat-icon>
                        live_tv
                    </mat-icon>
                </div>
                <h4>1</h4>
                <p>Channels</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="big-circle color-4">
                <div class="small-circle s-color-4">
                    <mat-icon>
                        live_tv
                    </mat-icon>
                </div>
                <h4>1</h4>
                <p>Channels</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="big-circle color-5">
                <div class="small-circle s-color-5">
                    <mat-icon>
                        live_tv
                    </mat-icon>
                </div>
                <h4>1</h4>
                <p>Channels</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-4">
            <div class="big-circle color-6">
                <div class="small-circle s-color-6">
                    <mat-icon>
                        live_tv
                    </mat-icon>
                </div>
                <h4>1</h4>
                <p>Channels</p>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 mr-5">
    <div class="col-lg-7">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Joined User Statistics
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="bar-chart">
                    <canvas id="bar"></canvas>
                  </div>
            </mat-card-content>
          </mat-card>
    </div>
    <div class="col-lg-5" style="height: 100px;">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Recently Released Movies</mat-card-title>
              <!-- <mat-card-subtitle>Animal</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="https://assets.gadgets360cdn.com/pricee/assets/product/202301/Animal_1673270841.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
               
                some image related text will come here
              </p>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
          
    </div>
  </div>
<!-- 
  <div class="col-lg-4">
    <div class="doughnut-chart">
          <canvas id="doughnut"></canvas>
        </div>
      </div> -->