<div class="container-fluid row" style="margin-top: 20px;">
    <div class="col-lg-10">
       <mat-toolbar-row> 
           <p>Dashboard/</p>
           <p>cast</p> </mat-toolbar-row>
    </div>
     <div class="col-lg-1">
       <button mat-raised-button color="primary">Add cast</button>  
     </div>
   
   </div>
   <div class="container-fluid">
       <mat-card>
           <mat-card-title>
              
           </mat-card-title>
   <div class="table-responsive table-bordered">
       <table class="table">
           <thead>
               <tr>
                 <th scope="col">#</th>
                 <th scope="col">Image</th>
                 <th scope="col">Name</th>
                 <th scope="col">Type</th>
                 <th scope="col">Personal Info</th>
                 <th scope="col">Action</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <th scope="row">1</th>
                 <td><img  src="../../../../assets/images/user-profile.png" style="width: 50px; height: 50px; border: 1px solid black; padding: 2px;border-radius: 50%;"></td>
                 <td>Satyum Gupta</td>
                 <td>Writer</td>
                 <td>Writer, Ram Setu (2022)</td>
                 
                 <td> <mat-icon style="color: rgb(129, 137, 204);">edit</mat-icon>  <mat-icon  style="color: red;">delete</mat-icon> </td>
               </tr>
               <tr>
                 <th scope="row">2</th>
          
                 <td><img  src="../../../../assets/images/user-profile.png" style="width: 50px; height: 50px; border: 1px solid black; padding: 2px;border-radius: 50%;"></td>
                 <td>Abhishek Dudhaiya</td>
                 <td>Director</td>
                 <td>Director, Bhuj: The Pride of India (2021)</td>
                 <td> <mat-icon style="color: rgb(129, 137, 204);">edit</mat-icon>  <mat-icon  style="color: red;">delete</mat-icon> </td>
               </tr>
               <tr>
                 <th scope="row">3</th>
              
                 <td><img  src="../../../../assets/images/user-profile.png" style="width: 50px; height: 50px; border: 1px solid black; padding: 2px;border-radius: 50%;"></td>
                 <td>Raman Kumar</td>
                 <td>Actor</td>
                 <td>Second Unit or Assistant Director, Laal Singh Chaddha (2022)</td>
                 <td> <mat-icon style="color: rgb(129, 137, 204);">edit</mat-icon>  <mat-icon  style="color: red;">delete</mat-icon> </td>
               </tr>
             </tbody>
       </table>
     </div>
     <nav aria-label="Page navigation example">
       <ul class="pagination">
         <li class="page-item"><a class="page-link" href="">Previous</a></li>
         <li class="page-item"><a class="page-link" href="">1</a></li>
         <li class="page-item"><a class="page-link" href="">2</a></li>
         <li class="page-item"><a class="page-link" href="">3</a></li>
         <li class="page-item"><a class="page-link" href="">Next</a></li>
       </ul>
     </nav>
     </mat-card>
   </div>
