<div class="container-fluid row" style="margin-top: 20px;">
    <div class="col-lg-12">
       <mat-toolbar-row> 
           <p>Dashboard/</p>
           <p>Page List</p> </mat-toolbar-row>
    </div>
    
   
   </div>
   <div class="container-fluid">
       <mat-card>
           <mat-card-title>
              
           </mat-card-title>
   <div class="table-responsive table-bordered">
       <table class="table">
           <thead>
               <tr>
                 <th scope="col">#</th>
                 <th scope="col">Title</th>
               
                 <th scope="col">Action</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <th scope="row">1</th>
                 <td>About Us</td>
                 
                 <td> <mat-icon style="color: rgb(129, 137, 204);">edit</mat-icon>  <mat-icon  style="color: red;">delete</mat-icon> </td>
               </tr>
               <tr>
                 <th scope="row">2</th>
                 <td>Privacy Policy</td>
                
                 <td> <mat-icon style="color: rgb(129, 137, 204);">edit</mat-icon>  <mat-icon  style="color: red;">delete</mat-icon> </td>
               </tr>
               <tr>
                 <th scope="row">3</th>
                 <td>Terms and Conditions</td>
                 
                 <td> <mat-icon style="color: rgb(129, 137, 204);">edit</mat-icon>  <mat-icon  style="color: red;">delete</mat-icon> </td>
               </tr>
             </tbody>
       </table>
     </div>
     <nav aria-label="Page navigation example">
       <ul class="pagination">
         <li class="page-item"><a class="page-link" href="">Previous</a></li>
         <li class="page-item"><a class="page-link" href="">1</a></li>
         <li class="page-item"><a class="page-link" href="">2</a></li>
         <li class="page-item"><a class="page-link" href="">3</a></li>
         <li class="page-item"><a class="page-link" href="">Next</a></li>
       </ul>
     </nav>
     </mat-card>
   </div>