<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="left-section">
                <div class="img-box">
                    <img src="../../assets/images/DADU_app_icon-removebg-preview.png">
                </div>
                <!-- <div class="content-box">
                    <p>Some content will come here</p>
                </div> -->
            </div>
        </div>
        <div class="col-lg-5">
            <div class="right-section">
                <div class="header">
                    <h1>LOGIN</h1>
                </div>
                <div class="sub-heading">
                    <p>Welcome back,
                        Please sign in to your account.</p>
                </div>
                <div class="form-section">
                    <form class="col-lg-8">

                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="enter your email" value="">
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" placeholder="enter your Password" value="">
                        </mat-form-field>
                        <button class="login-button" routerLink="/admin">
                            LOGIN
                        </button>
                    </form>

                </div>
            </div>
        </div>

    </div>

</div>