<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 d-flex search-section">
            <label class="app-set-label">Search:</label>
            <select class="form-select" aria-label="Default select example">
                <option value="1">All</option>
                <option value="2">Videos</option>
            </select>
            <button mat-raised-button color="primary">SEARCH</button>
        </div>
        
            <div class="col-lg-2" style="margin-top: 29px;">
                <button mat-raised-button color="primary">Add New video</button>
              </div>
        
    </div>
    <div class="row videos">
        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>
        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-2.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>

        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-3.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>

        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>
        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>
        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>

        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>

        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>
        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>
        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>

        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>

        <div class="col-lg-3">
            <div class="video-img-box">
                <img src="../../../../assets/images/movie-thumbnail-1.jpg">
            </div>
            <div class="content">
                <h4>SK Telivision</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                      <mat-icon>info</mat-icon>
                      <span>Details</span>
                    </button>
                    <button mat-menu-item >
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </div>
            <p class="sub-head">Movies</p>
        </div>


    </div>

</div>