.search-section{
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.search-section select{
    width: 55%;
    margin: 0px 20px;
}
.search-section label{
    font-size: 20px;
    font-weight: 500;
}
.videos{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.video-img-box{
    width: 100%;
    height: 250px;
}
.video-img-box img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.videos .content{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}
.videos .content h4{
    float: left;
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
}
.videos .sub-head{
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 400;
}